# assignment no**.2**
1. what are data structures and why are they important?

  -> data structure is arrangment of data and it is important because so it can be easily accesed and manupulate

 2. explain between mutable and immutable data type with example?

  -> data types in which we can add ,remove the elements are called mutable data types and data type in which we can not make changes like add,remove elements are called immutable data type
  For eg.-> list(mutable), tuples(immutable)

   3.what are main difference in list and tuples in python?
   
  ->Lists are mutable while tuples are immutable.

4.Describe how dictionaries store data?

  -> dictionaries store data in the key and value format.

 5.why might you use sets instead of a list in python?

  -->Sets are ordered, unique and mutable data type.

6.what is a string in a python?

 ->String is a immutable data type use to store a value

7.how do tuple ensure data integrity in python?

->tuple once created we can noy make changes in it since tuple are immutable   hence tuple ensure data integrity

8.what is a hash table, and how does it relate to dictionaries?

-> Hash table is data type in which data is stored in the key value pair form

9.Can list contain different data types in python?

-> yes string itself contain various data type eg. Tuple,dictionaries,Sets

10.Explain why strings are immutable  in python?

->strings are imutable because we can not make change in it after creation.

11.What advantages do dictionaroes offer over list for certain tasks?

-> In dictionaries data is stored in key-value pair it help in data retrievel hence dictionaries have advantages

12.Describe a scenario where using a tuple would be preferable over list?

-> A scenario in which first entered data has not be changed further. Here tuple is used over list

13.How do set handle duplicate value in python?

-> In sets only first entered duplocat evalue is considered not the other than first value

14.How does the "in" keyword work different for list and dictionaries?

->In lists "in" used to accese the element directly ,In dictionaries data is accesed by entering the key or value.

15.Can you modify the element of tuple ? Explain why or why not?

->No, beacause tuple are immutable data type

16.WHat is nested dictionaries, and give an example of its used case?

-> Nested dictionarie is a dictionary in a dictionary eg.details of multiple students. Each student is added as a key and their information (name, age, grade) is stored in an inner dictionary

17.Describe the time complexity of accesing element in dictionary

18. In what situation are list prefered over dictionaries?

->When we need ordered collection of data we prefered list over dictionaries

19.Why are Dictionaries considered unordered,How does that affect data retrieval?

->Dictionaries does not maintain the order of element added

20.Explain the Difference between a list and a dictonaries in terms of data retrievel?

->List is ordered collection of item whereas dicionary is unordered.The element in list can accesed by index but dictonaries element are accesed by key

### Coding practical question

In [ ]:
#1.Write a string with your name and print it?
name = "Sohel shaikh"
print(name)

Sohel shaikh

In [ ]:
#2.Write acode to find length of a string "HELLO WORLD"
string = "HELLO WORLD"
length = len(string)
print(length)

11

In [ ]:
#3.Write a code to slice the first 3 character from the string "Python Programing"
string = "python programing"
string[ :3]

'pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [ ]:
#5.Write acode to replace "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
new_string=my_string.replace("apple","orange")
print(new_string)

I like orange

In [ ]:
#6 write a code to create a list with number 1 to 5 and print
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [ ]:
#7 write a code to append the number 10 to the list =[1,2,3,4,]
my_list =[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8 write a code to remove the number 3 from the list [1,2,3,4,5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9 write a code to access the second element in the list ['a'.'b','c','d']
my_list = ['a','b','c','d']
my_list[1]

'b'

In [ ]:
 #10 write a code to reverse the list [10,20,30,40,50].
lis =[10,20,30,40,50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [ ]:
#11  write a code to creat a tuple with the element 100,200,300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)
(100, 200, 300)

In [ ]:
#12 write a code to accese second to last element of the tuple ('red','green','blue','yellow')
colors=('red','green','blue','yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
#13  write a code to find the minimum number in the tuple (10,20,5,15)
my_tuple=(10,20,5,15)
min(my_tuple)

5

In [ ]:
#14  write a code to find the index of the element "cat" in the tuple ('dog','cat',rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [ ]:
#15 write a code to create a tuple containing three different fruits and check if 'kiwi' is in it
my_tuple=('banana','mango','kiwi')
if 'kiwi' in my_tuple:
   print ("yes kiwi is present")
else:
  print('no kiwi present')

yes kiwi is present

In [ ]:
#16 write a code to creat the set with the element 'a','b','c' and print it
my_set={'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
#17 write a code to clear all element from the set{1,2,3,4,5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18 write a code to remove the element 4 from the set{1,2,3,4}
my_set = {1, 2, 3, 4, }
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 write a code to find the union of two set {1,2,3} and {3,4,5}
set1={1,2,3}
set2={3,4,5}
print(set1|set2)

{1, 2, 3, 4, 5}

In [ ]:
#20 write a code to find the intersection of two sets {1,2,3} and {2,3,4}
set1={1,2,3}
set2={2,3,4}
print(set1&set2)

{2, 3}

In [ ]:
#21 write a code to creat a dictionaries with the keys "name","age"and "city" and print it
dict={"name","age","city"}
print(dict)

{'name', 'city', 'age'}

In [ ]:
#22 write a code to add a new key-value pair "country":"USA" to dictionary {'name':'alice','age':25}
my_dict = {'name': 'alice', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'alice', 'age': 25, 'country': 'USA'}

In [ ]:
#23 write a code to accese the value associated with the key "name" in the dictionary {'name':'alice','age':30}
my_dict={"name":"alice","age":"30"}
print("name")

name

In [ ]:
#24 write a code to remove the key "age" from thr dictionary {'name':'Bob','age':'22','city':'new york'}
my_dict={"name":"bob","age":"22","city":"new york"}
my_dict.pop('age')
print(my_dict)

{'name': 'bob', 'city': 'new york'}

In [ ]:
#25 write a code to check if the key "city" exist in the dictionary{'name':alice,'city':'paris'
my_dict = {'name': 'alice', 'city': 'paris'}

if my_dict.get('city') is not None:
  print("The key 'city' exists .")
else:
  print("The key 'city' does not exist .")

The key 'city' exists in the dictionary.

In [ ]:
#26 write a code to creat a list ,a tuple and a dictionary, and print them all
my_list=[1,2,3]
my_tuple=(1,2,3)
my_dict={"name":"sohel","age":"23"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'sohel', 'age': '23'}

In [2]:
#27 write a code to creat a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)
import random


random_numbers = []


for _ in range(5):
    number = random.randint(1, 100)
    random_numbers.append(number)


random_numbers.sort()


print(random_numbers)

[17, 22, 22, 50, 72]

In [4]:
#28 write a code to creat a list with string and print the element at the third index
my_list=["lion","tiger","girrafe","monkey"]
print(my_list[3])

monkey

In [6]:
#29 write a code to combine two dictionaries into one and print the result
dict1={"name":"sohel","age":"23"}
dict2={"colelege":"asc colege","state":"maharashtra"}
my_dict=dict1|dict2
print(my_dict)

{'name': 'sohel', 'age': '23', 'colelege': 'asc colege', 'state': 'maharashtra'}

In [ ]:
#30  write a code to convert a list of string into a set
my_list=["lion","tiger","girrafe","monkey"]
my_set=set(my_list)
print(my_set)